.swipe-container {
  height: 50%;
  min-width: 428px;
  height: 100%;
  display: block;
}

.user-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: black;
  background-color: white;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
  position: absolute;
  touch-action: none;
}

.user-card-body p {
  font-size: 20px;
}

.user-card-body h4 {
  font-size: 30px;
  margin: 5px auto;
}

/* On mouse-over, add a deeper shadow */
.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.user-container {
  padding: 2px 16px;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.card-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.deck {
  height: 490px;
}