@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');



* {
    font-family: 'Readex Pro', sans-serif;
}


body {
    width: 100vw;
    height: 100vh; 
    position: fixed;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.65) 0%,
        rgba(0,0,0,0)100%
    ), url('./images/hero.png');

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

 /* h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}  */

/* .signup-title { */
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; */

   /* position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3rem; */
 /* }   */

.signup-title {
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* bottom: 50%; */
}

.signup-button {
    color: rgb(255,255,255);
    font-size: 25px;
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    text-align: center;
    max-width: 400px;
    margin-top: 30px;
}

.signup-button:hover {
    background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

.homepage-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* .logo {
    color:white;
} */

.navbar-logo{
    /* width: 170px; */
    width: 50%;
    margin: 15px;
    text-align: left;
    padding-top: 55px;
   

}

/* .logo{
    width: 80%;
} */

.link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    background-color: whitesmoke;
    border-radius: 10000px;
    padding: 10px 20px;
}

.link:hover {
    background-color: rgb(239, 239, 239);
    color: black;
}

.signup-container {
    width: 100%
}